<!DOCTYPE html>
<html lang="en">
<head>
  <title>Listado de Productos</title>
</head>
<body>
  <h1>Bienvenido a la Tienda</h1>

  <p>Bienvenido, {{user.first_name}} {{user.last_name}} ({{user.email}}), eres un usuario.</p>

  <a href="/logout">Cerrar sesión</a>

  {{#each products}}
  <div class="product">
    <h3>{{nombre}}</h3>
    <p>{{descripcion}}</p>
    <p>Precio: ${{precio}}</p>
    <form action="/api/carts/{{cartId}}/productos/{{_id}}" method="post">
      <label for="quantity">Cantidad:</label>
      <input type="number" name="quantity" id="quantity" value="1" min="1">
      <button type="submit">Agregar al carrito</button>
    </form>
    <a href="/products/{{_id}}">Ver detalles</a>
  </div>
  {{/each}}

  <!-- Agrega un botón para finalizar la compra -->
  <form action="/carts/64c0be9764940b2a6dcfe013/purchase" method="post">
    <button type="submit">Finalizar Compra</button>
  </form>

</body>
</html>
