{{!-- products.handlebars --}}

<!DOCTYPE html>
<html>
<head>
  <title>Listado de Productos</title>
</head>
<body>
  <h1>Listado de Productos</h1>

  {{#each products}}
  <div class="product">
    <h3>{{nombre}}</h3>
    <p>{{descripcion}}</p>
    <p>Precio: ${{precio}}</p>
    {{!-- Corregir la ruta de la acción del formulario para agregar al carrito --}}
    <form action="/api/carts/{{cartId}}/productos/{{_id}}" method="post">
      <label for="quantity">Cantidad:</label>
      <input type="number" name="quantity" id="quantity" value="1" min="1">
      <button type="submit">Agregar al carrito</button>
    </form>
    <a href="/products/{{_id}}">Ver detalles</a>
  </div>
{{/each}}

</body>
</html>
